

[data-kit-rect]
	fill orange
	stroke-width 1.5
	stroke black
	// mix-blend-mode multiply

[data-kit-t]
	fill yellow
	stroke-width 1.5
	stroke black

[data-kit-custom-shape]

	fill-rule evenodd

	opacity 1
	transition opacity .3s
	&.dragging
		opacity .6


.screw
	&.outer-hex
		fill-rule nonzero
		fill gray
		fill-opaciyt .85

	&.inner-hex
		fill-rule nonzero
		fill #000
		fill-opacity .85
